body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}
/* 
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
} */

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #fe424d;
}

.f-info-links,
.f-info-socials, 
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;

}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0rem !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay:hover {
    background-color: wheat !important;
    opacity: 0.3;
}

/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand img{
   height: 75px;
   width: 75px;
}

/* map */
#map {
    height: 400px;
    width: 80vh;
}

/* Filters Adjustment */
/* #filters {
  gap: 20px;
  padding: 12px 0;
  flex-wrap: nowrap;  
}

.filter {
  min-width: 90px;
  cursor: pointer;
}

.filter i {
  font-size: 1.3rem;
}

.filter p {
  font-size: 14px;
  margin: 0;
} */

/*  Small screens */
/* @media (max-width: 468px) {
  #filters {
    flex-wrap: wrap;    
    justify-content: center;
  }

  .filter {
    width: 45%; 
    margin-bottom: 12px;
  }
} */
